<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.tsystems"/>
    <tx:annotation-driven/>

    <bean id="ecareEMF" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="ru.tsystems.persistence.entity"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>
    </bean>


    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <!--Some problems with server's time/date-->
        <property name="url"
                  value="jdbc:mysql://localhost:3306/ecare?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <!--useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;-->
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="ecareEMF"/>
    </bean>

    <bean id="clientValidator"
          class="ru.tsystems.validators.ClientFormValidator"/>

    <bean id="tariffValidator"
          class="ru.tsystems.validators.TariffFormValidator"/>

    <bean id="optionValidator"
          class="ru.tsystems.validators.OptionFormValidator"/>

    <bean id="contractValidator"
          class="ru.tsystems.validators.ContractFormValidator"/>

    <bean id="adminCompoundValidator"
          class="ru.tsystems.validators.AdminCompoundValidator">
        <constructor-arg>
            <list>
                <ref bean = "clientValidator"/>
                <ref bean = "tariffValidator"/>
                <ref bean = "optionValidator"/>
                <ref bean = "contractValidator"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="messageSource"
          class=" org.springframework.context.support.ReloadableResourceBundleMessageSource ">
        <property name="basename" value="classpath:message" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
</beans>